/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background: white }
  body a {
    text-decoration: none;
    color: #111;
    transition: all 0.2s ease; }
    body a:hover {
      color: #009999;
      text-decoration: underline; }
  body p {
    margin-bottom: 20px;
    margin-top: 0; }
  img {
   max-width:100%;
   height:auto;
   max-height:100%; }

::-moz-selection {
  background-color: #FF7400;
  text-shadow: none; }

::selection {
  background-color: #FF7400;
  text-shadow: none; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #009999;
    margin: 1em 0;
    padding: 0;
}

body {

-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.container {
  width: 100vw;
  max-width: 960px;
  margin: 85px auto; }

.top {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  border-radius: 15px;
  border: 3px solid #009999;
  background-color: white;
  height: 90px;
  box-sizing: border-box; }
  .top div {
    flex: 0 1 auto; }
  .top .header {
    font-weight: bold;
    font-size: 40px; }
  .top a:hover {
    text-decoration: none;
  }

.info {
  margin: 30px 20px;
  font-size: 1em; }

.portfolio-list {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between; }
  .portfolio-list .portfolio-piece {
    margin-bottom: 60px;
    width: 100%;
    flex: 0 1 auto;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s ease; }
    .portfolio-list .portfolio-piece:hover {
      margin-top: -5px;
      margin-bottom: 65px;
      background-color: white;
      box-shadow: #009999 0 5px 2px 0; }
    .portfolio-list .portfolio-piece .portfolio-title {
      font-weight: 600;
      margin-top: 14px;
      font-size: 1.3em; }
    .portfolio-list .portfolio-piece .portfolio-description {
      margin-top: 10px;
      font-size: 1em; }
    .portfolio-list .portfolio-piece .portfolio-img img {
      width: 620px;
      height: 260px;
      border-radius: 5px; }


